body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Information page*/
#info-container {
  margin-top: 175px;
}

#info-text-container {
  float: left;
  margin: 5px;
  width: 55%;
}

#info-buttons-container {
  float: left;
  width: 42%;
}

/*Register page*/
#signin-container {
  width: 100%;
  height: 100%;
  margin-top: 130px;

}

#sigin-button {
  float: right;
}

/*Login page*/
#login-container {
  margin-top: 135px;
}

#login-img {
  text-align: center;
}

#login-text {
  text-align: center;
}


/*Main page*/
#main-buttonlogout {
  float: right;
}

#main-textuser {
  margin-bottom: 175px;
}

#main-textuser2 {
  margin-bottom: 25px;
}

#main-tablecontainer {
  margin: 4px, 4px;
  padding: 4px;
  width: 250px;
  height: 200px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}